:root {
  --content-width: 960px;
  --content-padding: 40px;
  --side-toc-width: 250px;
}
@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #eee;
    --color-primary: black;
    --color-accent: #cc0066;
    --color-accent-secondary: #001b2b;
    --color-medium-bg: #ddd;
    --color-medium-secondary: #999;
    --color-medium-primary: #555;
    --color-link: #3a8aa8;

    --color-red: #913029;
    --color-blue: #2a2cb4;
    --color-green: #2c9434;
    --color-yellow: #a89022;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1e1e1e;
    --color-primary: #dadada;
    --color-accent: #cc0066;
    --color-accent-secondary: #c2d2ff;
    --color-medium-bg: #333;
    --color-medium-secondary: #666;
    --color-medium-primary: #ddd;
    --color-link: #5aaac8;

    --color-red: #a04039;
    --color-blue: #3e41da;
    --color-green: #34a03d;
    --color-yellow: #caaf34;
  }
}

*, *:after, *:before {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
}
* {
  scrollbar-width: thin;
}
html {
  background-color: var(--color-bg);

  line-height: 1.5;
  font-family: Georgia, serif;
  font-size: 20px;
  /* text-align: justify; */
  /* scroll-behavior: smooth; */
  
  
}
body {
  max-width: var(--content-width);
  margin: 0;
  margin-left: max((100% - var(--content-width))/2, 250px);  
  margin-bottom: 2em;

  padding: var(--content-padding);
  hyphens: auto;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;


  /* margin-left: calc((100%-960px)/2); */
  color: var(--color-primary);
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
  font-weight: 300;
}
@media (max-width: 600px) {
  body {
    font-size: 0.6em;
    padding: 1em;
  }
}
@media (max-width: 1250px) {
  body {
    margin: 0 auto;
  }
}
@media print {
  html {
    background: transparent;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
}
p {
  margin: 1em 0;
}
img {
  max-width: 100%;
}

/* 
  HEADINGS

  Unnumber Heading: 
  # Heading {.unnumbered}
  # Heading {-}

  Unlist from TOC:
  #Heading {.unlisted}
*/
header {
  margin-bottom: 4em;
  text-align: center;
}
.title {
  color: var(--color-accent);
  margin-top: 0;
}  
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}
h1 {
  font-size: 20pt;
  font-weight: bold;
}
h2 {
  font-size: 18pt;
  text-decoration: underline;
  font-weight: normal;
}
h3 {
  font-size: 16pt;
  font-weight: bold;
}
h4 {
  font-size: 12pt;
  font-weight: bold;
  margin-left: 1em;
  margin-bottom: 0.75em;
}
h5 {
  font-size: 12pt;
  font-weight: 700;
  font-style: italic;

  margin-left: 2em;
  margin-bottom: 0.75em;
}
h6 {
  font-size: 12pt;
  font-style: italic;
  font-weight: normal;
}
/* Unnumber h4, h5 */
h4 .header-section-number,
h5 .header-section-number {
  display: none;
}
ol, ul {
  padding-left: 1.7em;
  margin-top: 1em;
}
li > ol, li > ul {
  margin-top: 0;
}
/* QUOTE */
blockquote {
  display: flow-root;
  flex: none;
  margin: 1em 0 1em 0;
  padding: 0.5em 1em;
  color: var(--color-medium-primary);
  border-left: 3px solid var(--color-medium-secondary);
  background-color: var(--color-medium-bg);
}
blockquote p {
  margin: 0 auto;
}
blockquote h1, h2, h3, h4, h5, h6 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
/* CODE */
code {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 1em  ;
  margin: 0;
}
pre {
  margin: 1em 0;
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em; 
}
.sourceCode {
  background-color: var(--color-medium-bg);
  overflow: visible;
}
/* pre, code, kbd, samp {
  color: var(--color-primary);
  font-family: 'courier new', monospace;
} */


code span.al { color: #ff0000; font-weight: bold; } /* Alert */
code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #7d9029; } /* Attribute */
code span.bn { color: #40a070; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070a0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #6a9955; font-style: italic; } /* Comment */
code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #ba2121; font-style: italic; } /* Documentation */
code span.dt { color: #902000; } /* DataType */
code span.dv { color: #40a070; } /* DecVal */
code span.er { color: #ff0000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40a070; } /* Float */
code span.fu { color: #06287e; } /* Function */
code span.im { } /* Import */
code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #007020; font-weight: bold; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #bc7a00; } /* Preprocessor */
code span.sc { color: #4070a0; } /* SpecialChar */
code span.ss { color: #bb6688; } /* SpecialString */
code span.st { color: #b36747; } /* String */
code span.va { color: #569cd6; } /* Variable */
code span.vs { color: #4070a0; } /* VerbatimString */
code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
.display.math{display:block;text-align:center;margin:0.5remauto;}



hr {
  background-color: var(--color-medium-secondary);
  border: none;
  height: 1px;
  margin: 1em 3em;
  
}
/* TABLES */
table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid var(--color-primary);
}
th {
  padding: 0.25em 0.5em 0.25em 0.5em;
  border: none;
}
td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}
th + th,
td + td {
  border-left: 1px solid var(--color-primary);
}
/*  */
dt {
  font-weight: 900;
}
dd dl dt {
  font-weight: 500;
}
dd + dt {
  margin-top: 1em;
}
dd + dd {
  margin-top: 0.5em;
}
dd ul,
dd ol {
  margin-top: 0;
}
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
.display.math{display: block; text-align: center; margin: 0.5rem auto;}
.math {
  font-family: 'Cambria Math';
}
strong {
  color: var(--color-accent);
}
a,
a:visited {
  color: var(--color-link);
  text-decoration: none;
}

/* TOC */
/* @media (max-width: 1200px) {

  

} */
#TOC {
  background: var(--color-medium-bg) none repeat scroll 0 0;
  border-left: 3px solid var(--color-medium-secondary);
  /* display: block; */
  font-size: 95%;
  margin: 1em;
  padding: 1em 3em;
  /* width: 100%; */

  break-after: always;
}

#toc-title {
  text-decoration: none;
}
/* .toc-section-number {
  font-weight: 700;
} */
#TOC li, #TOC ul, #TOC ul li{
  list-style: outside none none !important;
}    
#TOC a {
    color: var(--color-primary);
}
#TOC li {
  list-style: none;
}
#TOC a:not(:hover) {
  text-decoration: none;
}


/* TOC RESPONSIVE */
/* @media (max-width: 600px) {
  .side-toc {
    background: rgba(50,50,50,0.9);
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;

    display: none;
  }



  .side-toc h2 {
    text-align: center;
  }
} */

.toc-toggle-label {
  position: fixed;
  bottom: 1em;
  right: 1em;
  height: 3.5em;
  width: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: red solid 1px; */
  background: var(--color-medium-bg);
  box-shadow: var(--color-bg) 0px 0px 4px;
  border-radius: 5px;
}
.toc-toggle-label span,
.toc-toggle-label span::before,
.toc-toggle-label span::after {
  display: block;
  background: white;
  height: 3px;
  width: 2em;
  border-radius: 50px;
  position: relative;
  transition: ease-in-out 100ms;
  transform-origin: center;  
}
.toc-toggle-label span::before,
.toc-toggle-label span::after {
  content: '';
  position: absolute;
}
.toc-toggle-label span::before {
  bottom: 8px;
}
.toc-toggle-label span::after {
  top: 8px;
}

@media (max-width: 1250px) {
  .toc-toggle:checked ~ .toc-toggle-label {
    box-shadow: none;
  }
  .toc-toggle:checked ~ .toc-toggle-label span {
    background: var(--color-medium-bg);
  }
  .toc-toggle:checked ~ .toc-toggle-label span::before {
    transform: translateY(8px) rotateZ(45deg) scaleY(115%);
  }
  .toc-toggle:checked ~ .toc-toggle-label span::after
  {
    transform: translateY(-8px) rotateZ(-45deg) scaleY(115%);
  }
}


.toc-toggle {
  display: none;
}

.toc-toggle:checked ~ .side-toc {
  display: block;
  transform: translateX(0);
  opacity: 100%;
}

/* +++ SIDE TOC */
.side-toc {
  box-sizing: border-box;
  /* display: none; */
  position: fixed;
  bottom: 0;
  right: 0;
  /* width: 100%; */
  /* height: 100%; */
  /* min-width: calc(100% - 6.5em); */
  /* max-width: calc(100% - 7em); */
  max-width: 50%;
  max-height: calc(100% - 2em);
  margin: 1em;
  /* background: var(--color-medium-bg) none repeat scroll 0 0; */
  background: var(--color-medium-bg);
  /* border-left: 3px solid var(--color-medium-secondary); */
  /* box-shadow: 0px 0px 20px 2px var(--color-medium-secondary); */
  font-size: 95%;
  padding: 1em 2em;
  overflow-x: hidden;

  scrollbar-color: var(--color-accent);

  border-radius: .5em;
  box-shadow: var(--color-bg) 0px 0px 4px;
  transform: translateX(90%);  
  opacity: 0;
  transition: ease-in-out 175ms;

}
.side-toc a,
.side-toc a:visited {
  color: var(--color-primary);
}

.side-toc #toc-title {
  text-align: center;
  color: var(--color-primary);
  font-weight: 900;
  font-size: 12pt;
  margin-bottom: 0;
  margin-top: .5em;
}

.active-heading > a,
.active-heading > a:visited,
.active-heading::marker {
  /* font-weight: 500; */
  /* font-family: 'Roboto Black'; */
  text-shadow: 0px 0px 2px var(--color-accent);
  color:var(--color-accent);
  /* background: var(--color-medium-bg); */
}
/* .active-heading > span {
  font-weight: 300;
} */

@media only screen and (min-width: 1250px) {
  .side-toc {
    box-sizing: border-box;
    margin: 0;
    font-size: 9.5pt;
    position: fixed;
    display: block;
    background: var(--color-bg);
    /* background: linear-gradient(90deg, rgba(230,230,230,1) 95%, rgba(255,255,255,1) 100%); */
    /* box-shadow: 1px 0px 20px 5px var(--color-medium-secondary); */
    border: none;
    top: 0;
    left: 0;
    /* width: 250px */
    width: 17%;
    /* max-width: initial; */
    resize: horizontal;
    height: 100%;
    max-height: 100%;
    padding-right: 10px;
    overflow-x: hidden;
    opacity: 100%;
    transform: translateX(0);
  }

  
  .toc-toggle:checked ~ .side-toc {
    display: none;
  }
  .toc-toggle:not(:checked) ~ .toc-toggle-label span {
    background: var(--color-medium-bg);
  }
  .toc-toggle:not(:checked) ~ .toc-toggle-label span::before {
    transform: translateY(8px) rotateZ(45deg) scaleY(120%);
  }
  .toc-toggle:not(:checked) ~ .toc-toggle-label span::after
  {
    transform: translateY(-8px) rotateZ(-45deg) scaleY(120%);
  }
}

#sidetoc-backlink {
  padding: 1em;
  text-align: center;
  color: var(--color-link);
}
/* --- SIDE TOC */




/* personalized ============================================= */

/* Define classes with:
::: classname 
content
:::
*/

.cr {color: var(--color-red);}
.cb {color: var(--color-blue);}
.cg {color: var(--color-green);}
.cy {color: var(--color-yellow);}
.br {background: var(--color-red)}
.bb {background: var(--color-blue);}
.bg {background: var(--color-green);}
.by {background: var(--color-yellow);}



/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-medium-bg);
  text-align: center;
  padding-right: 1.5em;
  border-top: solid var(--color-medium-secondary) 2px;

  display: flex;
  flex-direction: row;
  justify-content: right;
}

footer * {
  padding: .25em 1em;
}

/* IMPORTANT QUOTE */
.important {
  margin-left: 0;
  border-left: 4px solid var(--color-accent);
  background-color: var(--color-medium-bg);
  padding: 0.5em 1.5em;

  font-weight: 300;
  line-height: 2em;
}

/* Buttons & Container */
.container {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
  /* align-items: flex-start; sagt ob oben mitte oder unten anliegend */
  /* align-items: stretch; */
}

.container * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.btn,
.btn:visited {
  background-color: var(--color-medium-bg);
  padding: 1em;
  /* width: 100%-1em; */

  display: flex;
  justify-content: center;
  align-items: center;
  
  color: var(--color-primary);
  font-weight: bold;
  text-align: center;

  transition-duration: 250ms;
}
.btn:hover {
  background-color: var(--color-medium-secondary);
  transition-duration: 250ms;
}


/* NOTE */
.note {
  color: var(--color-accent-secondary);
  background-color: var(--color-medium-bg);
  border-left: 3px solid var(--color-medium-secondary);
  clear: right;
  float: right;
  width: 33%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: 100;

  margin-left: 1em;
  padding: 0 1em;

  position: relative;
  z-index: 100;
}

.note strong {
  font-size: 11pt;
  font-weight: 700;
  margin-bottom: 1em;
}

/* .note h1 {
  font-size: inherit;
  margin: 1em 0;
  color: rgb(204, 0, 102);
}

.note h1 .header-section-number {
  display: none;
} */

/* DEFINITION */
.definition {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.definition p:first-child {
  flex: 0 0 auto;
  margin-right: 0.5em;
  font-weight: 400;
} 



/* ---------- COLUMN SYSTEM ---------- */
.row,
.rowFlex {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  align-items: flex-start; /* sagt ob oben mitte oder unten anliegend*/
}

.row * {
  flex-basis: 50%;  
  flex-grow: 1;
  flex-shrink: 1;
}

.col3,
.col4 {
flex-grow: 0;
flex-shrink: 0;
}

.col3 {
  width: 33%;
}

.col4 {
  width: 25%;
}
/* ---------- ---------- ---------- */

.indent {
  padding-left: 2em;
}

.indent-first {
  text-indent: 2em;
}

.indent-hanging{
  padding-left: 2em;
  text-indent: -2em ;
}

.indent-hanging li {
  padding-left: 2em;
}


.center {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  .qr-code {
    filter: invert(6.5%)
  }
} 
@media (prefers-color-scheme: dark) {
  .qr-code {
    filter: invert(88.3%)
  }
} 

/* result arrow, daraus folgt */
/* .result::before {
  content: "";    
  position: absolute;
  left: 0.55em;
  right: 0;
  top: 0.2em;
  bottom: 0;
  z-index: 100;

  border-right: 2.5px solid black;
  border-top: 2.5px solid black;
  width: 0.4em;
  height: 0.4em;
  transform: rotate(45deg);
  transform-origin: bottom left;
  float: right;

}
.result::after {
  content: "";    
  position: absolute;
  left: 0.25em;
  right: 0;
  top: 0.65em;
  bottom: 0;
  z-index: 100;

  background: black;
  width: 1em;
  height: 0.2em;
  float: right;

}
.result {
  position: relative;
  padding-left: 2em;
} */




/* .columns table {
  display: table;
  width: 100%;
}

.columns td {
  border: none;
}

.columns th {
  display: none;
}

.columns tbody {
  border: none;
} */



